/* PHASE 6: Sidebar */
.profile-picture a {
  display: block;
  margin-top: -120px;

}
.profile-picture img {
  border: 1px solid black;
  border-radius: 5px;
}
.content-sidebar {
  position: relative;
}

.profile-info h2 {
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0;
}

.profile-info {
  margin-bottom: 20px;
}

.profile-nav a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  border-top: 1px solid #ccc;
  padding: 5px;
}
.profile-nav a:hover {
  background-color: #eee;
}

.profile-nav li:last-child {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
